<nav>
  <div class="nav-wrapper">
    <a routerLink="/inicio" class="brand-logo">Inicio</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/administracion/usuarios">Usuarios</a></li>
      <li><a routerLink="/administracion/productos">Productos</a></li>
      <li><a routerLink="/administracion/categorias">Categorias</a></li>
      <li><a routerLink="/seguridad/login">Login</a></li>
      <li><a routerLink="/seguridad/cambiar-clave">Cambiar Clave</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/administracion/usuarios">Usuarios</a></li>
  <li><a routerLink="/administracion/productos">Productos</a></li>
  <li><a routerLink="/administracion/categorias">Categorias</a></li>
  <li><a routerLink="/seguridad/login">Login</a></li>
  <li><a routerLink="/seguridad/cambiar-clave">Cambiar Clave</a></li>
</ul>
