<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Aplicativo Ecommerce Ciclo 4</h5>
          <p class="grey-text text-lighten-4">Este sitio fue creado con nodejs bajo el framework loopback, el front se trabajo con angular y se complemento el HTML con materialize.</p>
        </div>
  
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright Katerin Giraldo - Niver Matheus
      <a class="grey-text text-lighten-4 right" href="#!">Misión TIC - UTP</a>
      </div>
    </div>
  </footer>
